@font-face {
  font-family: "TheYoungestSerif";
  src: url("fonts/the-youngest-serif-display.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "TheYoungestSerif";
}

body {
  background-image: url("./images/home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* z-index: -1;
  pointer-events: none; */
}

.container {
  /* Fallback for browsers that don't support env() */
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  /* Use safe area insets to add padding dynamically */
  padding-top: env(safe-area-inset-top, 20px);
  padding-right: env(safe-area-inset-right, 20px);
  padding-bottom: env(safe-area-inset-bottom, 20px);
  padding-left: env(safe-area-inset-left, 20px);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em 2em 0em 2em;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  width: 92%;
  margin: 0 auto;
  min-height: 75vh;
}

.scripture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
  font-size: 1.225rem;
  gap: 1em;
}

.scripture-verse {
}

.scripture-ref {
}

.btn-more {
  padding: 0.5em 2.5em;
  border-radius: 100px;
  border: 1px solid black;
  letter-spacing: 5px;
  background: white;
  color: black;
}
