@font-face {
  font-family: "TheYoungestSerif";
  src: url("fonts/the-youngest-serif-display.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "TheYoungestSerif";
}

.background {
  position: fixed; /* stay in place when scrolling */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./images/home.svg");
  background-size: cover; /* stretch to cover entire area */
  background-position: center; /* center the image */
  background-repeat: no-repeat;
  z-index: -1; /* behind all content */
  pointer-events: none; /* clicks pass through */
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em 2em 0em 2em;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  width: 92%;
  margin: 0 auto;
  min-height: 75vh;
}

.scripture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
  font-size: 1.225rem;
  gap: 1em;
}

.scripture-verse {
}

.scripture-ref {
}

.btn-more {
  padding: 0.5em 2.5em;
  border-radius: 100px;
  border: 1px solid black;
  letter-spacing: 5px;
  background: white;
  color: black;
}
