/****************** UNIVERSAL STYLES ******************/

@font-face {
  font-family: "TheYoungestSerif";
  src: url("fonts/the-youngest-serif-display.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fcf7f4;
  background-image: url("./images/home.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  pointer-events: none;
  /* font-family: "TheYoungestSerif"; */
  font-family: "Noto Serif Display";
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em 2em 0 2em;
}

/****************** HOME STYLES ******************/

.header-home {
  visibility: hidden;
}

.main-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 92%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2em 0;
  text-align: center;
  font-family: "TheYoungestSerif";
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: -15rem;
  text-align: center;
  font-size: 1.225rem;
  font-weight: 300;
}

.title {
  font-style: italic;
  font-size: 2rem;
  font-weight: 200;
}

.bread-verse {
  font-size: 0.6rem;
}

.btn-topics {
  padding: 0.5em 2.5em;
  border-radius: 100px;
  border: 1px solid black;
  letter-spacing: 5px;
  background: white;
  color: black;
  cursor: pointer;
  margin-top: 1rem;
}

/****************** MENU STYLES ******************/

header {
  visibility: visible;
}

h1 {
  font-style: italic;
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 92%;
  min-height: calc(100vh - 300px);
  margin: 0 auto;
  padding: 2em 0;
  border-top: 1px solid black;
  text-align: center;
  font-family: "TheYoungestSerif";
}

.topic-container {
  width: 80%;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  gap: 0.5rem;
}

.topic {
  display: flex;
  justify-content: center;
  background-color: white;
  border: 1px solid black;
  padding: 0.5em;
  border-radius: 100px;
  cursor: pointer;
  font-size: 0.7em;
  letter-spacing: 2px;
  text-align: center;
}

/****************** SCRIPTURE STYLES ******************/

.main-scripture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 92%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2em 0;
  border-top: 1px solid black;
  text-align: center;
  font-family: "TheYoungestSerif";
}

.scripture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: -10rem;
  text-align: center;
  font-size: 1.225rem;
  font-weight: 300;
  gap: 1em;
}

.btn-more {
  padding: 0.5em 2.5em;
  border-radius: 100px;
  border: 1px solid black;
  letter-spacing: 5px;
  background: white;
  color: black;
  cursor: pointer;
}
