@font-face {
  font-family: "TheYoungestSerif";
  src: url("fonts/the-youngest-serif-display.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "TheYoungestSerif";
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

html {
  background-image: url("./images/home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* optional: ensure it visually reaches the safe area */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

body {
  background: transparent;
}

header {
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding: 2em 2em 0em 2em;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  width: 92%;
  margin: 0 auto;
  min-height: 75vh;
}

.scripture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
  font-size: 1.225rem;
  gap: 1em;
}

.scripture-verse {
}

.scripture-ref {
}

.btn-more {
  padding: 0.5em 2.5em;
  border-radius: 100px;
  border: 1px solid black;
  letter-spacing: 5px;
  background: white;
  color: black;
}
