@font-face {
  font-family: "TheYoungestSerif";
  src: url("fonts/the-youngest-serif-display.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/home.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  pointer-events: none;
  font-family: "TheYoungestSerif";
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em 2em 0 2em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 92%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2em 0;
  border-top: 1px solid black;
  text-align: center;
}

.scripture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: -10rem;
  text-align: center;
  font-size: 1.225rem;
  font-weight: 500;
  gap: 1em;
}

.btn-more {
  padding: 0.5em 2.5em;
  border-radius: 100px;
  border: 1px solid black;
  letter-spacing: 5px;
  background: white;
  color: black;
  cursor: pointer;
}
