@font-face {
  font-family: "TheYoungestSerif";
  src: url("fonts/the-youngest-serif-display.ttf") format("truetype");
}

/* UNIVERSAL RESET */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "TheYoungestSerif";
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

/* FULL-BLEED BACKGROUND LAYER */
body {
  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("./images/home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1;
  pointer-events: none;

  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

header,
main,
footer {
  max-height: 100%;
}

/* COMBINED MAIN BLOCK (crucial!) */
main {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 92%;
  margin: 0 auto;

  border-top: 1px solid black;

  /* TEMPORARY TEST TO PREVENT SCROLL */
  height: calc(100vh - 6em);
  overflow: hidden;
}

.scripture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
  font-size: 1.225rem;
  gap: 1em;
}

.btn-more {
  padding: 0.5em 2.5em;
  border-radius: 100px;
  border: 1px solid black;
  letter-spacing: 5px;
  background: white;
  color: black;
}
